.default-wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 20px; /* 3 */
  padding-left: 20px; /* 3 */
}

.center-items {
  margin: auto;
}
